.Person { 
    border: 2px solid  #323232;
    box-shadow: 0 2px 3px #595959;
    padding: 16px;
    text-align: center;
    background-color: #282828;
}

.Paragraph {
    font-weight: bold
}

.TextBox {
    height: 15px;
    padding: 7px;
    box-shadow: 0 2px 3px #595959;
}